.flex{
  display: flex;
  flex-direction: row;
}

.lightblue{
  background-color: lightblue;
  width: 50px;
}

.pink{
  background-color: pink;
  flex: 1;
}
.blue{
  background-color: lightblue;
  width: 75px;
}