.flex {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.col1 {
  background-color: pink;
  width: 100px;
}

.col2 {
  background-color: lightblue;
  width: 200px;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row2 {
  background-color: black;
  color: white;
}